* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-top: solid black;
  border-bottom: solid black;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 100px;
}

h1 {
  margin: 100px;
}

.feet {
  border-top: solid black;
  margin-top: 10px;
}

.average {
  background-color: cornflowerblue;
  width: 100px;
  height: 800px;
  position: absolute;
  margin-left: 100px;
}

.persons {
  background-color: cadetblue;
  width: 100px;
  height: 800px;
  position: absolute;
  margin-left: 300px;
  justify-content: space-between;
}

p1 {
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 100px;
}

button {
  padding: 2px;
}
